<configuration>

    <property name="LOG_DIR" value="output/logs"/>

    <appender name="ClientFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/client.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MysqlFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/mysql.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ClientLogger" level="INFO" additivity="false">
        <appender-ref ref="ClientFileAppender"/>
    </logger>

    <logger name="MysqlLogger" level="DEBUG" additivity="false">
        <appender-ref ref="MysqlFileAppender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="ClientFileAppender"/>
        <appender-ref ref="MysqlFileAppender"/>
    </root>
</configuration>
