.Screens {
    transition: 1s;
}
.Screens:hover {
    transform: scale(1.09);
}
.GtfoVid {
    position: absolute;
    filter: brightness(.75);
    height: 85.55%;
    left: 0;
    right: 0;
    margin-left: calc(-1*(100vw - 100%)/2);
    margin-right: calc(-1*(100vw - 100%)/2);
}
.BuyButton {
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0.75rem 1.1875rem;
    cursor: pointer;
    color: #e11900;
    background: rgba(0,0,0,.3);
    border: 0.125rem solid;
    border-left: 0.5rem solid;
    margin-top: 8%;
    outline: none;
}
.YellowBoldFormat {
    margin-bottom: rem-calc(5);
    font-family: Oxanium;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    overflow-wrap: anywhere;
    width: 100%;
    color:#e9bc29;
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 6%;
    text-align: center;
}